:root {
  /* Brand Colors */
  --brand-primary: #b0284c;
  --brand-primary-hover: #8e1c3d;

  /* Backgrounds */
  --background-primary: #27232a;
  --background-secondary: #37323b;
  --background-secondary-gradient: #29242e;
  --background-tertiary: #201d21;

  /* Typography */
  --text-normal: #e3e3d7;
  --text-muted: #bab5c1;
  --text-danger: #ec6161;

  /* Status Colors */
  --status-danger: #ca3945;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-primary);
  color: var(--text-normal);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-right: 3px solid transparent;
  }
  100% {
    transform: rotate(360deg);
    border-right: 3px solid transparent;
  }
}
